/* app css stylesheet */

body {
  padding-top: 20px;
}

.events {
  list-style-type: circle;
}

.events li {
  clear: both;
  height: 25px;
  padding-top: 10px;
}

h1 {
  border-bottom: 1px solid gray;
  border-top: 1px solid gray;
}
