<a href="#/events/">Back to events</a>

<h3>Event creation</h3>

Enter the event's title:
<input ng-model="title" />
<br/>
Enter the event's place:
<input ng-model="place" />
<br/>
Enter the event's date:
<input ng-model="date" />
<br/>
Enter the event's hour:
<input ng-model="hour" />
<br/>

	<button ng-click="addEvent()">Create event</button>
