<h3>Event list</h3>

<div class="container-fluid">
	<a href="#/events/create">Create an event</a>
	<!--Body content-->
	<ul class="events">
		<li ng-repeat="event in events">
			<a href="#/events/{{event.id}}">{{event.title}}</a>
		</li>
	</ul>
</div>
